/* ================= */
/*       FONTS       */
/* ================= */
@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');
/* ANTONIO BOLD */
@font-face {
    font-family: 'antoniobold';
    src: url('/css/webfontkit/antonio-bold-webfont.woff2') format('woff2'),
         url('/css/webfontkit/antonio-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ABEEZEE */
@font-face {
    font-family: 'abeezeeregular';
    src: url('/css/webfontkit/abeezee-regular-webfont.woff2') format('woff2'),
         url('/css/webfontkit/abeezee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* NORWESTER */
@font-face {
    font-family: 'norwesterregular';
    src: url('/css/webfontkit/norwester-webfont.woff2') format('woff2'),
         url('/css/webfontkit/norwester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ================= */
/*      VARIABLES    */
/* ================= */
:root {
    /* fonts */
    --title-font: 'norwesterregular';
    --main-font: 'antoniobold';
    --info-font: 'abeezeeregular';
    --detail-font: 'Aleo';
    /* colors */
    --white: #fff;
    --grey: #737373;
    --green: #81a969;
    --translucent-white: rgba(255, 255, 255, 0.93);
    --translucent-green: rgba(129, 169, 105, 0.77);
}
/* * {
    border: 1px red solid;
} */
/* ================= */
/*       BODY        */
/* ================= */
html {
    background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/watercolor-green-leaves-pattern-sketche-pedia.jpg');
    background-color: black;
    background-repeat: repeat-y;
    background-size: cover;
    margin: 0;
}
/* ================= */
/*        NAV        */
/* ================= */
nav {
    background-color: var(--white);
    width: 100%;
    /* height: 70px; */
    margin: 20px 0px;
    border-top: 7px solid var(--grey);
    border-bottom: 7px solid var(--grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav > div > h1 {
    margin: 0;
    padding-left: 20px;
    font-family: var(--title-font);
    font-size: 42px;
}
nav > div > img {
    height: 46px;
    padding-bottom: 10px;
}
nav > div > h3 {
    font-family: var(--main-font);
    font-size: 24px;
    padding: 0px 30px;
    letter-spacing: 3px;
}
/* #modal-id {
    height: 36px;
} */
/* ================= */
/*       MAIN        */
/* ================= */
.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    /* height: 600px; */
    margin: 0 auto;
    border: 7px solid var(--grey);
    background-color: var(--translucent-white);
    overflow: scroll;
    justify-content: center;
    align-items: center;
}
.aside {
    width: 100%;
    background-color: var(--translucent-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.aside > h3 {
    font-family: var(--title-font);

    /* background-color: var(--white); */
    width: 70%;
    font-size: 70px;
    padding: 10px;
    margin-top: 30px;
}
.show {
    height: 600px;
}
.card-image > img {
    max-width: 50%
}
/* ================= */
/*      MODAL        */
/* ================= */
.editPlantModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.deletePlantModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
/* .modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
} */
.modal-edit-content {
	background-color: rgba(255,255,255,0.8);
	margin: 20% auto;
	padding: 20px;
	border: 1px solid grey;
	width: 75%;
	max-height: 400px;
	max-width: 400px;
}
/*
.modal-edit-body{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.modal-body > form {
	display: flex;
	flex-direction: column;
	width: 35%;
}
.modal-body > h3 {
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 1px;
	color: #40454d;
}
.modal-footer {
	display:flex;
	flex-direction: row-reverse;
	padding: 1em 1em 0 1em;
} */
/* ================= */
/*      FOOTER       */
/* ================= */
.footer {
    background-color: var(--white);
    width: 100%;
    height: 70px;
    margin: 20px 0px;
    border-top: 7px solid var(--grey);
    border-bottom: 7px solid var(--grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.footer > a {
    padding: 20px;
}
